@import "scss/menu.scss";
@import "scss/reset.scss";
@import "scss/footer.scss";

body {
    background-color: #ddd;
    margin-top: 75px;
}

.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
